#!/bin/bash -eo pipefial

fdisk -l | grep Disk | grep '/dev/sd' | cut -d' ' -f 2 | cut -d: -f 1 > /tmp/disk
for i in $(cat /tmp/disk | cut -d'/' -f 3)
do
  j=$(lsblk | grep "$i" | wc -l)
  if [ "$j" -eq "1" ];
  then
    sed -i '{{ gluster_volume }}/d' /etc/fstab > /dev/null
    k=$(fdisk -l | grep "$i" | cut -d' ' -f 2 | cut -d: -f 1)
    mkdir -p {{ gluster_volume }}
    echo -e "o\nn\np\n1\n\n\nw" | fdisk "$k"
    sleep 1
    mkfs -t ext4 "$k"1
    sleep 1
    mount "$k"1 {{ gluster_volume }}
    UUID=$(ls -l /dev/disk/by-uuid | grep "$i"1 | awk -F" " '{print $9}')
    echo "UUID=$UUID        {{ gluster_volume }}   ext4  defaults,nofail   1 2" >> /etc/fstab
    r=1
  fi
done
if [ -n "$r" ];
then
  exit 0
else
  exit 1
fi
